@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.aboutContainer{
  padding-top: 124px;
  justify-content: center;
  height: calc(100vh - 54px);
  width: 85vw;
  margin:0 auto;
}

.sectionHeader{
  font-size: 1.6rem;
  height: 10%;
  letter-spacing: 1px;
  margin:0 auto;
  text-transform: uppercase;
  color:#86d3b9;
  font-family:Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

li{
  margin-top: .5rem;
  margin-left: 1rem;
}

.innerContainer{
  display:flex;
  gap:5vw;
}

.myCatImage{
  width: 15vw;
  height: auto;
  max-width: auto;
  border-radius: 8px;
  margin-left: auto;
}

.aboutContent > p {
  margin:0;
  line-height: 160%;
  font-size:clamp(16px, 1.4vw,20px);
  max-width: 50ch;
  color:#001219a1;
  margin-block-end: 0.5rem;
}

@media screen and (min-width:768px) {
  .aboutContent >p{
    font-size: clamp(12px,1.8vw, 22px);
  }
}

@media screen and (max-width:768px){
  .aboutContainer{
    height: auto;
    padding-top: 104px;
  }
  .myCatImage{
    width: 40vw;
    display: block;
    margin:0 auto;
  }
  .aboutContent{
    margin:0 auto;
    max-width: 90vw;
  }

  .sectionHeader {
    margin: auto;
    height: 10vh;
  }
}

@media screen and (max-width:725px){
  .innerContainer{
    display:flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width:850px){
  .innerContainer {
    display:flex;
    flex-direction: column-reverse;
  }

  .aboutContainer {
    height: auto;
  }

  .myCatImage {
    width: 30vw;
    display: block;
    margin:0 auto;
  }

  .aboutContent > p {
    margin:0 auto;
    max-width: 90vw;
    font-size: 20px;
  }
}

