@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  z-index: 0;
}

.landingContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 85vw;
  margin: auto;
  color:#555;
}

.landing-img {
  display: block;
  margin-left: auto;
  width: 20vw;
  max-width: auto;
  border-radius: 4.5px;
}

.greeting{
  font-size: clamp(1.8em,4vw,2.5rem);
  color:#001219a1;
  margin:0rem;
}

.name{
  position: relative;
  width: auto;
  font-size: clamp(2.4rem,8vw, 5rem);
  justify-content: #252839;
  -webkit-text-stroke: 0.3vh #46bd95;
  text-align: left;
  color:#e6e5dd;
  line-height: 90%;
  margin:0.5rem 0rem 1rem 0rem;
}

.name::before{
  content: attr(data-text);
  position: absolute;
  -webkit-text-stroke: 1vh #3876;
  border-right: 2px solid #a11c1c;
  height: 100%;
  overflow: hidden;
  animation: animate 3s linear;
}

.statement{
  color: #001219a1;
  margin:0;
  font-size: clamp(1.6rem,4vw,2.5rem);
  line-height: clamp(1.8rem,150%, 3.4rem);
}

.chevronDiv{
  cursor: pointer;
  position: absolute;
  bottom:0;
}

.iconFlex{
  display: flex;
}

.icon{
  font-size: 1.8em;
  margin-right: 0.4em;
}

@media screen and (max-width:768px){
  .landingContainer, .name{
    text-align: center;
  }

  .landing-img{
    width: 40vw;
    display: block;
    margin:0 auto;
    margin-bottom: 3em;
  }

  .centerContent{
    clear:both;
    min-width: 220px;
    margin: auto;
  }

  .chevronDiv{
    cursor: pointer;
    position: absolute;
    margin-bottom: 3em;
  }
}


@keyframes animate {
  0%{
    width: 0;
  }
  70%{
    width: 50.9%;
  }
}