.contactContainer{
    padding-top: 10%;
    width: 90vw;
    margin: auto;
    margin-left: auto;
    max-height: 800px;
    height: calc(100vh - 50px);
}

.formContainer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-Header{
    padding: 54px;
    height: calc(22vh - 54px);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color:#86d3b9;
    font-family:Arial, Helvetica, sans-serif;

}

.reachOutText{
    margin-bottom: 0;
    color: #555;
    font-weight: 500;
}

.hidden{
    opacity: 0;
}

.visible{
    color:rgb(69, 218, 143);
    font-weight: 500;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}


@media screen and (max-width: 600px) {
    .section-Header{
        text-align:center;
        margin-bottom:0;
        margin: auto;
        padding: 0%;
        margin-top: 6em;
        height: 4vh;
    }
    .reachOutText{
        display: none;
    }
}